<% content_for :title, "Form Sent" %>

<% content_for :sideCol do %>
  <p id="notice"><%= notice %></p>
<% end %>


<% content_for :mainCol do %>
	<div id="center_box">

      <h3>Form has been sent!</h3>
      <%= link_to 'Okay',:controller => 'doctors', :action => 'show', :id => 1, class:"btn btn-white"%>
	</div>
<% end %>
