<ul id="question_<%= question.id %>" class="question_box wide">
  <li><%= question.question_text %></td>
  <li>
    <ul class="horizontal-list">
      <li><%= link_to "Edit", [:edit, question.question_group, question] %></li>
      <br>
      <li><%= link_to "Delete", [question.question_group, question], method: :delete %></li>
    </ul>
  </li>
</ul>
