<% content_for :title, "Admin Menu" %>

<% content_for :sideCol do %>
  <%= flash[:notice]%>
<% end %>

<% content_for :mainCol do %>
  <div id="center_box">
    <div class="identity">Logged in as: <%= session[:name] %></div>
    <ul>
      <li><%= link_to("Doctor List", :controller => 'doctors',:action => 'index') %></li>
      <li><%= link_to("New Doctor", :controller => 'doctors',:action => 'new') %></li>
    </ul>
  </div>
<% end %>
