<% content_for :title, "Edit Doctor" %>

<% content_for :sideCol do %>
  <p id="notice"><%= notice %></p>
<% end %>

<% content_for :mainCol do %>
  <div id="center_box">
    <%= render 'form' %>
	  <%= link_to 'Show', @doctor %> |
    <%= link_to 'Back', doctors_path %>
  </div>
<% end %>
