PatientMailer#QuizMailer

<p>



           You have been signed up to PMP.com,


           To login to the site, just follow this link: <%= @url %>.

           Thanks for joining and have a great day!
</p>
