PatientMailer#QuizMailer

<p>



           You have recieved a quiz from your doctor on PMP!


           To take your quiz, just follow this link: <%= @url %>.

           Thanks and have a great day!
</p>
