body {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #F5F5FF;
	color: #777;
	overflow-x: hidden;
	text-align: center;
	padding: 0;
	margin: 0;
}
h1 {
	color: #DDD;
	font-size: 192px;
	font-weight: 800;
	letter-spacing: -18px;
}
form{
	margin: 0.5em;
}
ul{
	list-style: none;
	padding: inherit;
	margin: 0;
}
hr{
	margin: 0 8px;
	color: #DDD;
	background-color: #DDD;
	border-color: #DDD;
}
img {
	height: 1em;
	width: 1em;
}
#question_box{
	width: 24em;
	margin: 0 auto;
	border: 0.125em solid #DDD;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	background-color: #EEF;
}
#sideCol {
	float:left;
	width:250px;
  	border-style: solid;
  	border-width: 0px 0px 3px 5px;
	display: inline-block;
	text-align: left;
	height: 85vh;
	overflow: auto;
}
#sideCol div, .auto {
  border-style: solid;
  border-width: 2px 3px 0px 0px;
	background-color: rgba(255, 255, 255,0.3);
	position: relative;
	padding: 5px;
	margin: 5px;
}
#sideCol Sp{
	text-align: left;
	margin-top: 0;
}
 #mainCol {
	float:right;
	width:770px;
  border-style: solid;
  border-width: 0px 0px 3px 5px;
	height: 85vh;
	overflow: auto;
}
#content{
  margin: 25px auto;
  width: 1050px;
  height: 85vh;
}
section{
	position: relative;
}
div#floating{
	border-width: 0;
	margin-top: -85vh;
	background-color: initial;
}
div#floating2{
	border-width: 0;
	margin-top: -3em;
	background-color: initial;
}
#outro_box{
	margin: 0 auto;
	width: 24em;
	height: 2em;
}
.mini_logo{
	height: 4em;
	width: 4em;
}
.defaultImg{
	margin-left: 70px;
	height: 5em;
	width: 5em;
}
.logo{
	width:20em;
	height:15em;
	margin: 20px auto;
	opacity: 0.3;
}
.sideLogo{
	width:100%;
	height:99%;
	margin: 0;
	padding: 0;
}
.question_box{
	width: 24em;
	margin: 0 auto;
	border: 0.125em solid #DDD;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	background-color: #EEF;
}
.question_box li{
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
}
.question_box li ul, .question_box li ul li{
	display: initial;
	text-align: left;
}
.wide{
	width: 18em;
}
.wider{
	width: 32em;
}
.auto{
	width: 95%;
}
.q_box_2{
	width: auto;
	margin: 0 auto;
	border: 0.125em solid #DDD;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #EEF;
}
.q_box_2 li{
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
}
.q_box_2 li ul, .q_box_2 li ul li{
	display: initial;
	text-align: left;
}
.top{
	vertical-align: top;
}
.thin{
	width: 5em;
}
.btn {
	border-radius: 0.25em;
	margin: 0.5em;
	text-decoration: none;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn-primary {
	font-size: 1.3em;
	background-color: #58B;
	border-color: #58B;
	color: #FFF;
	padding: 0 5px;
	margin: 0;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active:focus {
	background-color: #69C;
	border-color: #69C;
	color: #FFF;
}
.btn-white {
	color: inherit;
	background: #FFF;
	border: 0.0625em solid #DDD;
	width: 7.5em;
	display: inline-block;
}
.btn-white:hover, .btn-white:active, .btn-white.active:focus {
	color: inherit;
	border: 0.0625em solid #BBB;
}
.btn-white:active, .btn-white.active {
	box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.15) inset;
}

/*ANIMATE*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
